* {
  --linen: #f3e9dc;
  --caramel: #c08552;
  --caput-mortuum: #5e3023;
  --raw-umber: #895737;
  --desert-sand: #dab49d;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--linen);
}
.container header {
  background-color: var(--caramel);
  padding: 2rem;
  font-weight: bold;
  color: var(--linen);
}
.actions a button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  color: var(--caramel);
  background-color: var(--caput-mortuum);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.actions a button:hover {
  background-color: var(--raw-umber);
  color: var(--linen);
}

/* tabela*/

table {
  width: 90%;
  border-collapse: separate;
  margin-right: 3rem;
  margin-left: 3rem;
  border-spacing: 0 5px;
  margin-top: 20px;
}
th,
td {
  padding: 12px, 15px;
  text-align: left;
  color: var(--caput-mortuum);
  border-bottom: 1px solid #ddd;
}

td a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}
td a.alterar {
  background-color: #6f4f38;
  color: var(--linen);
  margin-right: 1.25rem;
  transition: 0.2s;
}
td a.alterar:hover {
  background-color: transparent;
  color: #6f4f38;
}
td a.excluir {
  background-color: #9c3d22;
  color: var(--linen);
  transition: 0.2s;
}
td a.excluir:hover {
  background-color: transparent;
  color: #9c3d22;
}

th {
  background-color: var(--caramel);

  padding: 0.25rem;
  color: white;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}

.group-buttons {
  padding: 0.25rem 0;
}
